In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.getOrCreate()

# Sample Data
data = [
("1","1000.50","2024-01-01","2024-01-01 10:30:00",'{"name":"Manasa","age":23}')
]

df = spark.createDataFrame(
    data,
    ["id_str","salary_str","date_str","ts_str","json_str"]
)

# Define JSON schema
schema = StructType([
    StructField("name", StringType()),
    StructField("age", IntegerType())
])

In [14]:

# All conversions inside ONE select
df.select(
    "id_str",
    col("id_str").cast("int").alias("id_int"),                     # string → int
    col("salary_str").cast("double").alias("salary_double"),       # string → double
    "salary_str",
    to_date("date_str","yyyy-MM-dd").alias("date"),                # string → date
    "date_str",
    to_timestamp("ts_str","yyyy-MM-dd HH:mm:ss").alias("timestamp"), # string → timestamp
    "ts_str",
    date_format(to_date("date_str"),"dd-MM-yyyy").alias("formatted_date"), # date → string
    "json_str",
    from_json("json_str",schema).alias("parsed_json"),             # json → struct
    to_json(from_json("json_str",schema)).alias("json_back")       # struct → json
).show(truncate=False)


df.select( to_date("date_Str" , "yyyy-MM-dd"),
          col("salary_str").cast("double")).show()

+------+------+-------------+----------+----------+----------+-------------------+-------------------+--------------+--------------------------+------------+--------------------------+
|id_str|id_int|salary_double|salary_str|date      |date_str  |timestamp          |ts_str             |formatted_date|json_str                  |parsed_json |json_back                 |
+------+------+-------------+----------+----------+----------+-------------------+-------------------+--------------+--------------------------+------------+--------------------------+
|1     |1     |1000.5       |1000.50   |2024-01-01|2024-01-01|2024-01-01 10:30:00|2024-01-01 10:30:00|01-01-2024    |{"name":"Manasa","age":23}|{Manasa, 23}|{"name":"Manasa","age":23}|
+------+------+-------------+----------+----------+----------+-------------------+-------------------+--------------+--------------------------+------------+--------------------------+

+-----------------------------+----------+
|to_date(date_Str, yyyy-MM-dd)|salary_str|
+-----------------------------+----------+
|                   2024-01-01|    1000.5|
+-----------------------------+----------+