In [ ]:
from pyspark.sql.functions import *
from pyspark.sql import Row

data = [
    (1, ["a","b"], [{"name":"A","age":20},{"name":"B","age":25}]),
    (2, None, None),
    (3, [], [])
]

df = spark.createDataFrame(data, ["id","arr","info"])
df.show(truncate=False)

In [ ]:
df.select(
    "id",

    # explode
    explode("arr").alias("explode_val"),

    # explode_outer
    explode_outer("arr").alias("explode_outer_val"),

    # posexplode
    posexplode("arr").alias("pos1","posexplode_val"),

    # posexplode_outer
    posexplode_outer("arr").alias("pos2","posexplode_outer_val"),

    # inline
    inline("info"),

    # inline_outer
    inline_outer("info")
).show(truncate=False)

In [ ]:
# explode        → normal
# explode_outer  → keep null
# posexplode     → add position
# posexplode_outer → position + keep null
# inline         → array<struct>
# inline_outer   → array<struct> + keep null


# When you use multiple explode-type functions in same select:

# Spark creates Cartesian expansion

# Row count increases heavily.