<a href="https://colab.research.google.com/github/MJ-DE17/PYSPARK/blob/main/numeric_aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Numeric fucnitons

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

data = [
    (1, -10.5),
    (2, 20.3),
    (3, 30.7),
    (4, -5.2)
]

df = spark.createDataFrame(data, ["id", "value"])
df.show()

+---+-----+
| id|value|
+---+-----+
|  1|-10.5|
|  2| 20.3|
|  3| 30.7|
|  4| -5.2|
+---+-----+

In [17]:
# Value	round	bround
# 2.5	  3	    2


df.select(
    abs("value").alias("abs_value"),
    round("value", 0).alias("round_val"),
    bround("value", 0).alias("round_val"),
    # Smallest integer ≥ value.
    ceil(col("value")).alias("ceil"),
    floor("value").alias("floor_ans"),
    sqrt("value"),
    pow("value", 2),
    exp("value"),
    # log(2, "value"),
    # Base 10 log.
    log10("value"),
    # Random number between 0–1.
    rand().alias("random"),
    # Random normal distribution.
    randn().alias("random_nn"),
    greatest("value", lit(10))


).show()

+---------+---------+---------+----+---------+-----------------+------------------+--------------------+------------------+--------------------+--------------------+-------------------+
|abs_value|round_val|round_val|ceil|floor_ans|      SQRT(value)|   POWER(value, 2)|          EXP(value)|      LOG10(value)|              random|           random_nn|greatest(value, 10)|
+---------+---------+---------+----+---------+-----------------+------------------+--------------------+------------------+--------------------+--------------------+-------------------+
|     10.5|    -11.0|    -10.0| -10|      -11|              NaN|            110.25|2.753644934974715...|              NULL|  0.8277344156457207|  -1.308746513189384|               10.0|
|     20.3|     20.0|     20.0|  21|       20|4.505552130427524|412.09000000000003| 6.549045121532385E8| 1.307496037913213|0.011627230548073242|-0.24030626591901944|               20.3|
|     30.7|     31.0|     31.0|  31|       30|5.540758070878027|            942.49|2.151991712185929...|1.4871383754771865|  0.7605780061089474|  2.5062045783639872|               30.7|
|      5.2|     -5.0|     -5.0|  -5|       -6|              NaN|27.040000000000003|0.005516564420760...|              NULL|   0.722461576464214| -0.2733262944644046|               10.0|
+---------+---------+---------+----+---------+-----------------+------------------+--------------------+------------------+--------------------+--------------------+-------------------+

In [19]:
df.select(
    (col("value") + 10).alias("plus"),
    (col("value") * 2).alias("double"),
    (col("value") / 2).alias("half")
).show()

+----+------+-----+
|plus|double| half|
+----+------+-----+
|-0.5| -21.0|-5.25|
|30.3|  40.6|10.15|
|40.7|  61.4|15.35|
| 4.8| -10.4| -2.6|
+----+------+-----+