<a href="https://colab.research.google.com/github/MJ-DE17/PYSPARK/blob/main/String_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [128]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col , length
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("String funcitno").getOrCreate()

data = [
    (1, "9Manasa devi", 50000.0, 25),
    (2, "Mevin", 60000.0, 28),
    (3, "2Pavithra ", 55000.0, 26),
    (4, "1Menakha", 70000.0, 30),
    (5, "Arjun ", 45000.0, 24)
]

columns = ["id" , "name" , "salary " , "age"]

df = spark.createDataFrame(data , columns)

In [13]:
df.select(col("name") , upper(col("name")).alias("uppercase") , lower("name").alias("Lowercase_names") , initcap("name").alias("title")).show()

+-------------+-------------+---------------+-------------+
|         name|    uppercase|Lowercase_names|        title|
+-------------+-------------+---------------+-------------+
|  Manasa devi|  MANASA DEVI|    manasa devi|  Manasa Devi|
|        Mevin|        MEVIN|          mevin|        Mevin|
|    Pavithra |    PAVITHRA |      pavithra |    Pavithra |
|      Menakha|      MENAKHA|        menakha|      Menakha|
|       Arjun |       ARJUN |         arjun |       Arjun |
+-------------+-------------+---------------+-------------+

In [92]:
# Trimming & Cleaning
#  trim canbe used only with the select & withcolumn

df.select(col("name") , trim(col("name")).alias("Nor trim") , ltrim(col("name")).alias("L trim"),rtrim(col("name")).alias("R trim")).show()

+------------+------------+------------+------------+
|        name|    Nor trim|      L trim|      R trim|
+------------+------------+------------+------------+
|9Manasa devi|9Manasa devi|9Manasa devi|9Manasa devi|
|       Mevin|       Mevin|       Mevin|       Mevin|
|  2Pavithra |   2Pavithra|  2Pavithra |   2Pavithra|
|    1Menakha|    1Menakha|    1Menakha|    1Menakha|
|      Arjun |       Arjun|      Arjun |       Arjun|
+------------+------------+------------+------------+

In [38]:
# Length & Position

# length
# instr - return count of the substring found.

df.select(trim("name").alias("name"))\
.filter(length(col("name")) <= 5).show()
df.select("name" , instr("name" , "na").alias("SLiced")).show()
# df.filter(instr(col("name" ), "na") > 0).show()

+-------------+------+
|         name|SLiced|
+-------------+------+
|  Manasa devi|     5|
|        Mevin|     0|
|    Pavithra |     0|
|      Menakha|     3|
|       Arjun |     0|
+-------------+------+

In [58]:
# Substring & Extraction

# substring- prints part of strng
# split - print separated list (word , (element wehre to split))

df.select("name" , substring("name" , 1 , 6), split("name" , "i") ).show()
df.select(
    "name",
    substring("name", 1, 6).alias("sub_name"),
    split("name", "i").alias("split_name")
).show(truncate=False)

# regexp_extract

df.select("name" , regexp_extract("name" , r"^M", 0)).show()

+-------------+---------------------+------------------+
|         name|substring(name, 1, 6)|split(name, i, -1)|
+-------------+---------------------+------------------+
|  Manasa devi|                 Mana|  [  Manasa dev, ]|
|        Mevin|                Mevin|         [ Mev, n]|
|    Pavithra |               Pavith|      [Pav, thra ]|
|      Menakha|               Menakh|         [Menakha]|
|       Arjun |               Arjun |          [Arjun ]|
+-------------+---------------------+------------------+

+-------------+--------+----------------+
|name         |sub_name|split_name      |
+-------------+--------+----------------+
|  Manasa devi|  Mana  |[  Manasa dev, ]|
| Mevin       | Mevin  |[ Mev, n]       |
|Pavithra     |Pavith  |[Pav, thra ]    |
|Menakha      |Menakh  |[Menakha]       |
|Arjun        |Arjun   |[Arjun ]        |
+-------------+--------+----------------+

+-------------+---------------------------+
|         name|regexp_extract(name, ^M, 0)|
+-------------+---------------------------+
|  Manasa devi|                           |
|        Mevin|                           |
|    Pavithra |                           |
|      Menakha|                          M|
|       Arjun |                           |
+-------------+---------------------------+

In [96]:
# Replacement & Cleaning

# Function	Purpose
# replace()	Replace substring
# regexp_replace()	Replace using regex
# translate()	Replace characters one-to-one

df.select("name" , regexp_replace("name" , "[\\d]" , "").alias("no_number")).show()
df.select("name" , regexp_replace(col("name") , "a" , "A").alias("no_number")).show()

+------------+-----------+
|        name|  no_number|
+------------+-----------+
|9Manasa devi|Manasa devi|
|       Mevin|      Mevin|
|  2Pavithra |  Pavithra |
|    1Menakha|    Menakha|
|      Arjun |     Arjun |
+------------+-----------+

+------------+------------+
|        name|   no_number|
+------------+------------+
|9Manasa devi|9MAnAsA devi|
|       Mevin|       Mevin|
|  2Pavithra |  2PAvithrA |
|    1Menakha|    1MenAkhA|
|      Arjun |      Arjun |
+------------+------------+

In [71]:
# Concatenation

# concat()	- Join columns
# concat_ws()	- Join with separator

df.select(
    trim(col("name")).alias("name"),
    concat(col("name"), col("age")).alias("password"),
    concat_ws("_", col("name"), col("age")).alias("username")
).show()

+-----------+---------------+----------------+
|       name|       password|        username|
+-----------+---------------+----------------+
|Manasa devi|  Manasa devi25|  Manasa devi_25|
|      Mevin|        Mevin28|        Mevin_28|
|   Pavithra|    Pavithra 26|    Pavithra _26|
|    Menakha|      Menakha30|      Menakha_30|
|      Arjun|       Arjun 24|       Arjun _24|
+-----------+---------------+----------------+

+-----------+---------------+----------------+
|       name|       password|        username|
+-----------+---------------+----------------+
|Manasa devi|  Manasa devi25|  Manasa devi_25|
|      Mevin|        Mevin28|        Mevin_28|
|   Pavithra|    Pavithra 26|    Pavithra _26|
|    Menakha|      Menakha30|      Menakha_30|
|      Arjun|       Arjun 24|       Arjun _24|
+-----------+---------------+----------------+

In [88]:
# Pattern Matching

# like()	SQL pattern -Case-sensitive
# ilike()	Case-insensitive
# rlike()	Regex - Case-insensitive


df.filter(col("name").like("M%")).show()
df.filter(col("name").like("%a")).show()
df.filter(col("name").rlike("^M")).show() #startwith
df.filter(col("name").rlike("n$")).show() #endswith
df.filter(col("name").rlike("^[A-Za-z]+$")).show() #
df.filter(col("name").rlike("[0-9]")).show()  # or [^\\d] Names starting with number

+---+----+-------+---+
| id|name|salary |age|
+---+----+-------+---+
+---+----+-------+---+

+---+--------+-------+---+
| id|    name|salary |age|
+---+--------+-------+---+
|  4|1Menakha|70000.0| 30|
+---+--------+-------+---+

+---+----+-------+---+
| id|name|salary |age|
+---+----+-------+---+
+---+----+-------+---+

+---+------+-------+---+
| id|  name|salary |age|
+---+------+-------+---+
|  2| Mevin|60000.0| 28|
+---+------+-------+---+

+---+----+-------+---+
| id|name|salary |age|
+---+----+-------+---+
+---+----+-------+---+

+---+------------+-------+---+
| id|        name|salary |age|
+---+------------+-------+---+
|  1|9Manasa devi|50000.0| 25|
|  3|  2Pavithra |55000.0| 26|
|  4|    1Menakha|70000.0| 30|
+---+------------+-------+---+

In [129]:
# formatting, masking, and string shaping.

df.select(
    "name",
    translate("name", "a", "A").alias("translated")
).show()


# Remove digits
df.select(
    "name",
    regexp_replace("name", r"[0-9]", "").alias("no_digits")
).show()
print("-----M")
# This replaces whole value "Manasa" â†’ "M"
df.replace("Mevin", "M").show()

# combined other methods too
df.select(
    "name",
    repeat(
         regexp_replace(trim("name") , r"^\d+", ""),
         2
    ).alias("Repeatation")
).show()

+------------+------------+
|        name|  translated|
+------------+------------+
|9Manasa devi|9MAnAsA devi|
|       Mevin|       Mevin|
|  2Pavithra |  2PAvithrA |
|    1Menakha|    1MenAkhA|
|      Arjun |      Arjun |
+------------+------------+

+------------+-----------+
|        name|  no_digits|
+------------+-----------+
|9Manasa devi|Manasa devi|
|       Mevin|      Mevin|
|  2Pavithra |  Pavithra |
|    1Menakha|    Menakha|
|      Arjun |     Arjun |
+------------+-----------+

-----M
+---+------------+-------+---+
| id|        name|salary |age|
+---+------------+-------+---+
|  1|9Manasa devi|50000.0| 25|
|  2|           M|60000.0| 28|
|  3|  2Pavithra |55000.0| 26|
|  4|    1Menakha|70000.0| 30|
|  5|      Arjun |45000.0| 24|
+---+------------+-------+---+

+------------+--------------------+
|        name|         Repeatation|
+------------+--------------------+
|9Manasa devi|Manasa deviManasa...|
|       Mevin|          MevinMevin|
|  2Pavithra |    PavithraPavithra|
|    1Menakha|      MenakhaMenakha|
|      Arjun |          ArjunArjun|
+------------+--------------------+

In [122]:
# rpad
# Pads string on the right side until it reaches a fixed length.
# rpad(column, length, pad_string)

# !!If string length > specified length ,
# Also truncates if original string is longer.

# rpad : Raj_______
df.select("name" , rpad("name" , 10 , "_").alias("rpad_name")).show()

# lpad : _____Mevin
df.select("name" , lpad("name" , 16 , "*").alias("lpad_name")).show()

+------------+----------+
|        name| rpad_name|
+------------+----------+
|9Manasa devi|9Manasa de|
|       Mevin| Mevin____|
|  2Pavithra |2Pavithra |
|    1Menakha|1Menakha__|
|      Arjun |Arjun ____|
+------------+----------+

+------------+----------------+
|        name|       lpad_name|
+------------+----------------+
|9Manasa devi|****9Manasa devi|
|       Mevin|********** Mevin|
|  2Pavithra |******2Pavithra |
|    1Menakha|********1Menakha|
|      Arjun |**********Arjun |
+------------+----------------+